#####################################################
###### PIP Dependencies for extra installations #####
#####################################################

###### Requirements without Version Specifiers ######
pygeodesy